@import global.module.sass

nav 
  display: flex
  flex-direction: row-reverse
  background-color: $yellow2
  padding: 0 10px
  
ul 
  margin: 25px 0
  list-style: none
  display: flex
  flex-direction: row
  align-items: center

  li 
    margin: 0 10px
  
  a 
    text-transform: uppercase
    text-decoration: none
    color: $black
    font-weight: 800
    font-size: 21px
    font-family: $headline-font-google
    align-items: center
  
    svg 

      fill: $black !important
      stroke: $black !important
      display: block !important
      
    
